html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 20rem;
  height: 45.707rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.08rem;
}

.box_1 {
  width: 20rem;
  background: url(/static/lanhu_tongyongyemian/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.667rem 0.374rem 0.32rem 4.32rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin-top: 0.4rem;
}

.image-wrapper_1 {
  width: 4.64rem;
  background: url(/static/lanhu_tongyongyemian/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.347rem 0.64rem 0.32rem 0.694rem;
}

.image_1 {
  width: 0.987rem;
  height: 0.347rem;
  margin: 0.347rem 0 0.347rem 0;
}

.label_1 {
  width: 1.04rem;
  height: 1.04rem;
}

.box_2 {
  padding-bottom: 31.174rem;
}

.group_1 {
  width: 20rem;
  background: url(/static/lanhu_tongyongyemian/SketchPng2df77b4c56b04cabb891cdbe34ca20e239efa0ef9f685fa7421a48e330ad14f7.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
  padding: 0.667rem 0.854rem 0.667rem 0.854rem;
}

.label_2 {
  width: 0.614rem;
  height: 1.067rem;
  margin: 0.134rem 0 0.08rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 5.814rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 2.8rem;
}

.text-wrapper_1 {
  width: 17.334rem;
  height: 3.84rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
  margin: 1.52rem 1.28rem 0 1.387rem;
}

.paragraph_1 {
  width: 17.334rem;
  height: 3.84rem;
  overflow-wrap: break-word;
  color: rgba(53, 53, 53, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_4 {
  width: 17.334rem;
  height: 3.84rem;
  overflow-wrap: break-word;
  color: rgba(107, 117, 255, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.image_2 {
  width: 20rem;
  height: 1.814rem;
  margin-top: -0.026rem;
}
