.page {
  background-color: rgba(244, 244, 244, 1);
  position: relative;
  width: 750rpx;
  height: 2720rpx;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 88rpx;
  padding-bottom: 0;
}

.block_1 {
  width: 750rpx;
  height: 88rpx;
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPng8ca03be098f985e6cffe1b132194c6d45e50a26513cec7553f67884e699731e9.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.block_2 {
  position: relative;
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPng6e002492f4d0beca11e8e6d58371967e105b8cba11b6a30c1c4ceeeb55ac8034.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: -1rpx;
  padding: 27rpx 24rpx 117rpx 24rpx;
}

.block_3 {
  width: 685rpx;
  margin: 0 9rpx 0 8rpx;
}

.label_1 {
  width: 23rpx;
  height: 40rpx;
  margin: 4rpx 0 4rpx 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 48rpx;
}

.block_4 {
  width: 694rpx;
  margin: 48rpx 0 0 8rpx;
}

.group_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 8px 0px 0px 8px;
  width: 8rpx;
  height: 142rpx;
  margin-bottom: 3rpx;
}

.text-group_1 {
  margin-top: 2rpx;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-right: 420rpx;
}

.text_3 {
  width: 660rpx;
  height: 80rpx;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 40rpx;
  margin-top: 23rpx;
}

.text-wrapper_1 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 0px 16px 0px 0px;
  margin: 47rpx 354rpx 0 0;
  padding: 21rpx 118rpx 27rpx 118rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40rpx;
}

.block_5 {
  position: absolute;
  left: 328rpx;
  top: 305rpx;
  width: 398rpx;
  height: 96rpx;
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPng888293673ba3c559ff2e60d5890131a217d5565e5cbc79d5c21db9f0f6fdbff0.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 22rpx 56rpx 19rpx 160rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 45rpx;
  margin-top: 10rpx;
}

.text-wrapper_2 {
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPngfdb9a93b709765302ef90a24074bdf9a8c5977927b11fad4839e45124534f03d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0 0 29rpx -2rpx;
}

.text_6 {
  height: 25rpx;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 25rpx;
  margin: -1rpx 6rpx 2rpx 8rpx;
}

.block_6 {
  position: relative;
  padding: 363rpx 19rpx 39rpx 34rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-right: 557rpx;
}

.box_1 {
  width: 694rpx;
  margin: 8rpx 0 0 3rpx;
}

.text-wrapper_3 {
  margin: 8rpx 0 1rpx 0;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
  margin-right: 5rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
  margin-top: 62rpx;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
  margin-top: 22rpx;
}

.text-wrapper_4 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.text_11 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.text_12 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.paragraph_1 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.paragraph_2 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.text_13 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(250, 98, 98, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 42rpx;
}

.text_14 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.text_15 {
  width: 667rpx;
  height: 192rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.text-wrapper_5 {
  width: 379rpx;
  height: 45rpx;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
  margin: 45rpx 164rpx 0 154rpx;
}

.text_16 {
  height: 45rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
}

.text_17 {
  height: 45rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
}

.text_18 {
  height: 45rpx;
  overflow-wrap: break-word;
  color: rgba(94, 94, 94, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
}

.text-wrapper_6 {
  border-radius: 18px;
  height: 36rpx;
  border: 1px solid rgba(72, 153, 245, 1);
  width: 126rpx;
  position: absolute;
  left: 548rpx;
  top: 568rpx;
  padding: 3rpx 17rpx 7rpx 11rpx;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(72, 153, 245, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
}

.text-wrapper_7 {
  background-color: rgba(216, 216, 216, 1);
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 1);
  margin: -1rpx 34rpx 0 25rpx;
  padding: 475rpx 256rpx 671rpx 257rpx;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 44rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 62rpx;
}

.image-wrapper_1 {
  padding: 24rpx 241rpx 51rpx 241rpx;
}

.image_1 {
  width: 268rpx;
  height: 10rpx;
}

.block_7 {
  background-color: rgba(26, 130, 226, 0.1);
  height: 176rpx;
  width: 750rpx;
  position: absolute;
  left: 0;
  top: 0;
}

.section_1 {
  width: 750rpx;
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 100rpx 14rpx 12rpx 162rpx;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 34rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 15rpx;
}

.image-wrapper_2 {
  width: 174rpx;
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 13rpx 24rpx 12rpx 26rpx;
}

.image_2 {
  width: 37rpx;
  height: 13rpx;
  margin: 13rpx 0 13rpx 0;
}

.label_2 {
  width: 39rpx;
  height: 39rpx;
}

.block_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 0px 16px 16px;
  position: absolute;
  left: 24rpx;
  top: 576rpx;
  width: 702rpx;
  height: 451rpx;
  padding: 22rpx 26rpx 29rpx 27rpx;
}

.text-wrapper_8 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 8px;
  margin-right: 1rpx;
  padding: 24rpx 420rpx 112rpx 36rpx;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(178, 178, 178, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(178, 178, 178, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
  margin: 16rpx 330rpx 0 3rpx;
}

.group_2 {
  width: 649rpx;
  margin-top: 12rpx;
}

.text-wrapper_9 {
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPngfae4a964267bbeb219b08431d9d9878ad26d2f2b5ef8f590b94e492056bf64e7.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 26rpx 110rpx 35rpx 107rpx;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(18, 18, 18, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 33rpx;
}

.text-wrapper_10 {
  background: url(/static/lanhu_chaxunx2fpiliangchaxun/SketchPngd85bc9d08a4c2007705bc9d4a1c6a90ad3540cd37369022057bf1bc1df57cd1a.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18rpx 123rpx 31rpx 123rpx;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 24rpx 37rpx 0 1rpx;
}
