.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 100vw;
  height: 228.54vw;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.4vw;
}

.group_1 {
  position: relative;
  width: 100vw;
  background: url(/static/lanhu_chongzhijilu/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 13.33vw 1.86vw 1.6vw 21.6vw;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.53vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.54vw;
  margin-top: 2vw;
}

.image-wrapper_1 {
  width: 23.2vw;
  background: url(/static/lanhu_chongzhijilu/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 1.73vw 3.2vw 1.6vw 3.46vw;
}

.image_1 {
  width: 4.94vw;
  height: 1.74vw;
  margin: 1.73vw 0 1.73vw 0;
}

.label_1 {
  width: 5.2vw;
  height: 5.2vw;
}

.image-wrapper_2 {
  height: 20.14vw;
  background: url(/static/lanhu_chongzhijilu/SketchPng1585854e299ad7d1c52a5b123f7687c37cdd83484a1e0040b29a9210031cb3f0.png) -0.14vw
    0vw no-repeat;
  background-size: 26vw 20.26vw;
  width: 25.74vw;
  position: absolute;
  left: 97.74vw;
  top: 10.8vw;
  padding: 3.46vw 24.26vw 15.06vw 0;
}

.thumbnail_1 {
  width: 1.47vw;
  height: 1.6vw;
}

.group_2 {
  background: url(/static/lanhu_chongzhijilu/SketchPngcb0e9ae7e614d847082c10bf51be45760437b27a8327c35d647f2f2988213b06.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 3.33vw 4.26vw 0.13vw 4.26vw;
}

.box_1 {
  width: 91.47vw;
}

.label_2 {
  width: 3.07vw;
  height: 5.34vw;
  margin: 0.66vw 0 0.4vw 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.53vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6.4vw;
}

.box_2 {
  margin: 6.4vw 12.26vw 0 2.8vw;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(11, 11, 11, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 6vw;
}

.image_2 {
  width: 0.14vw;
  height: 3.6vw;
  margin: 1.73vw 0 0.66vw 6.8vw;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.26vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 6vw;
  margin-left: 16.4vw;
}

.box_3 {
  margin: 2.53vw 15.46vw 0 65.33vw;
}

.box_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 3px;
  width: 10.67vw;
  height: 0.8vw;
}

.group_3 {
  background: url(/static/lanhu_chongzhijilu/SketchPng6d58ab8f53e06b0d20b8f633f302a2721e639a4839f7d2933a22c6087750de63.png) -7.2vw -7.2vw
    no-repeat;
  background-size: 105.86vw 88.66vw;
  align-self: center;
  margin-top: 4.27vw;
  width: 91.47vw;
  padding: 1.33vw 4.26vw 7.6vw 2.8vw;
}

.list_1 {
  height: 65.34vw;
}

.list-items_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 4vw 0 0.13vw 1.46vw;
}

.text-wrapper_1 {
  margin-right: 6.67vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 0.96);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-top: 0.8vw;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.96);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin: 0.8vw 0 0 13.46vw;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.8vw;
  font-family: Avenir-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 4.8vw;
  margin-left: 8.54vw;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.4);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin: 0.53vw 0 0 0.4vw;
}

.image_3 {
  width: 82.94vw;
  height: 0.14vw;
  margin-top: 4vw;
}

.group_4 {
  padding: 23.46vw 5.33vw 63.73vw 5.33vw;
}

.block_1 {
}

.block_2 {
  background-color: rgba(235, 237, 240, 1);
  width: 34.4vw;
  height: 0.14vw;
  margin: 2.26vw 0 2vw 0;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.4vw;
  margin-left: 2.27vw;
}

.block_3 {
  background-color: rgba(235, 237, 240, 1);
  width: 34.14vw;
  height: 0.14vw;
  margin: 2.26vw 0 2vw 2.53vw;
}

.image_4 {
  width: 100vw;
  height: 9.07vw;
  margin-top: -0.13vw;
}
