html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 20rem;
  height: 45.707rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.08rem;
}

.group_1 {
  position: relative;
  width: 20rem;
  background: url(/static/lanhu_chongzhijilu/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.667rem 0.374rem 0.32rem 4.32rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin-top: 0.4rem;
}

.image-wrapper_1 {
  width: 4.64rem;
  background: url(/static/lanhu_chongzhijilu/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.347rem 0.64rem 0.32rem 0.694rem;
}

.image_1 {
  width: 0.987rem;
  height: 0.347rem;
  margin: 0.347rem 0 0.347rem 0;
}

.label_1 {
  width: 1.04rem;
  height: 1.04rem;
}

.image-wrapper_2 {
  height: 4.027rem;
  background: url(/static/lanhu_chongzhijilu/SketchPng1585854e299ad7d1c52a5b123f7687c37cdd83484a1e0040b29a9210031cb3f0.png) -0.027rem
    0rem no-repeat;
  background-size: 5.2rem 4.054rem;
  width: 5.147rem;
  position: absolute;
  left: 19.547rem;
  top: 2.16rem;
  padding: 0.694rem 4.854rem 3.014rem 0;
}

.thumbnail_1 {
  width: 0.294rem;
  height: 0.32rem;
}

.group_2 {
  background: url(/static/lanhu_chongzhijilu/SketchPngcb0e9ae7e614d847082c10bf51be45760437b27a8327c35d647f2f2988213b06.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.667rem 0.854rem 0.027rem 0.854rem;
}

.box_1 {
  width: 18.294rem;
}

.label_2 {
  width: 0.614rem;
  height: 1.067rem;
  margin: 0.134rem 0 0.08rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
}

.box_2 {
  margin: 1.28rem 2.454rem 0 0.56rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(11, 11, 11, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
}

.image_2 {
  width: 0.027rem;
  height: 0.72rem;
  margin: 0.347rem 0 0.134rem 1.36rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
  margin-left: 3.28rem;
}

.box_3 {
  margin: 0.507rem 3.094rem 0 13.067rem;
}

.box_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 3px;
  width: 2.134rem;
  height: 0.16rem;
}

.group_3 {
  background: url(/static/lanhu_chongzhijilu/SketchPng6d58ab8f53e06b0d20b8f633f302a2721e639a4839f7d2933a22c6087750de63.png) -1.44rem -1.44rem
    no-repeat;
  background-size: 21.174rem 17.734rem;
  align-self: center;
  margin-top: 0.854rem;
  width: 18.294rem;
  padding: 0.267rem 0.854rem 1.52rem 0.56rem;
}

.list_1 {
  height: 13.067rem;
}

.list-items_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.8rem 0 0.027rem 0.294rem;
}

.text-wrapper_1 {
  margin-right: 1.334rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 0.96);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.16rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.96);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 2.694rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.96rem;
  font-family: Avenir-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 0.96rem;
  margin-left: 1.707rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.107rem 0 0 0.08rem;
}

.image_3 {
  width: 16.587rem;
  height: 0.027rem;
  margin-top: 0.8rem;
}

.group_4 {
  padding: 4.694rem 1.067rem 12.747rem 1.067rem;
}

.block_1 {
}

.block_2 {
  background-color: rgba(235, 237, 240, 1);
  width: 6.88rem;
  height: 0.027rem;
  margin: 0.454rem 0 0.4rem 0;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-left: 0.454rem;
}

.block_3 {
  background-color: rgba(235, 237, 240, 1);
  width: 6.827rem;
  height: 0.027rem;
  margin: 0.454rem 0 0.4rem 0.507rem;
}

.image_4 {
  width: 20rem;
  height: 1.814rem;
  margin-top: -0.026rem;
}
