html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(255, 238, 77, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 238, 77, 1);
}

.section_1 {
  position: relative;
  width: 43.147rem;
  height: 65.174rem;
  background: url(/static/lanhu_haibao/SketchPng1f98ef7802c26a161d7dde99a2c52415bfc2ebf25887a2bc7e0679bc4c06ba2a.png)
    0rem -0.027rem no-repeat;
  background-size: 43.147rem 65.227rem;
  margin: -9.467rem -7.76rem -12.4rem -15.387rem;
  padding: 0 7.76rem 25.574rem 0;
}

.block_1 {
  margin-bottom: 11.52rem;
  padding: 12.214rem 12rem 9.707rem 15.387rem;
}

.box_2 {
  margin-left: 4.24rem;
}

.group_1 {
  border-radius: 44px;
  border: 2.4px solid rgba(0, 0, 0, 1);
  padding: 0 0.534rem 0 0.107rem;
}

.image_1 {
  width: 1.334rem;
  height: 1.334rem;
  margin: 0.16rem 0 0.187rem 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.013rem;
  font-family: AlimamaFangYuanTiVF-Bold-Round;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.174rem;
  margin: 0.027rem 0 0 0.214rem;
}

.image_2 {
  width: 0.027rem;
  height: 1.68rem;
  margin-left: 0.32rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.2rem;
  margin: 0.24rem 0 0 0.507rem;
}

.box_3 {
  width: 13.52rem;
  margin: 0.694rem 2.24rem 0 0;
}

.image_3 {
  width: 1.867rem;
  height: 3.787rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.173rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  line-height: 1.654rem;
  margin-top: 0.134rem;
}

.block_2 {
  background-color: rgba(255, 238, 77, 1);
  width: 20rem;
  height: 11.547rem;
  margin: 28.054rem 0 0 -27.76rem;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  position: absolute;
  left: 16.347rem;
  top: 17.494rem;
  width: 18.107rem;
  height: 31.254rem;
  padding: 4.72rem 4.4rem 5.84rem 4.374rem;
}

.text-group_1 {
  margin: 0 0.107rem 0 0.16rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.173rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.654rem;
  margin: 0 1.04rem 0 0.987rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-top: 0.72rem;
}

.text-wrapper_1 {
  border: 2px 4 rgba(151, 151, 151, 1);
  margin-top: 2.24rem;
  padding: 1.547rem 2.827rem 1.76rem 2.774rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
}

.box_4 {
  border: 2px 4 rgba(151, 151, 151, 1);
  padding: 0.24rem 1.467rem 0.267rem 1.414rem;
}

.image_4 {
  width: 0.027rem;
  height: 1.12rem;
  margin: 0 3.254rem 0 3.067rem;
}

.paragraph_1 {
  width: 6.347rem;
  height: 2.454rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: center;
  line-height: 1.067rem;
  margin-top: 0.294rem;
}

.image_5 {
  width: 0.027rem;
  height: 1.067rem;
  margin: 0.294rem 3.254rem 0 3.067rem;
}

.text-wrapper_2 {
  border: 2px 4 rgba(151, 151, 151, 1);
  padding: 1.654rem 2.827rem 1.654rem 2.774rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
}
