.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 11.74vw;
  padding-bottom: 0;
}

.box_1 {
  width: 100vw;
  height: 11.74vw;
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPng8ca03be098f985e6cffe1b132194c6d45e50a26513cec7553f67884e699731e9.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 169.07vw;
  padding-bottom: 2.4vw;
}

.box_3 {
  width: 100vw;
}

.box_4 {
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 1.2vw 5.86vw 2.4vw 5.73vw;
}

.image-text_1 {
}

.image_1 {
  width: 7.87vw;
  height: 7.87vw;
  margin: 0 6.66vw 0 7.2vw;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 2.66vw;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.6vw;
  margin-top: 1.87vw;
}

.box_5 {
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 1.06vw 1.73vw 2vw 1.73vw;
}

.image-text_2 {
}

.image_2 {
  width: 8.8vw;
  height: 8.54vw;
  align-self: center;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.66vw;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 2.67vw;
  margin-top: 0.67vw;
}

.box_6 {
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.13vw 1.73vw 2vw 1.73vw;
}

.label_1 {
  width: 6.4vw;
  height: 6.4vw;
  align-self: center;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 2.66vw;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 2.67vw;
  margin-top: 1.74vw;
}

.image_3 {
  width: 35.74vw;
  height: 1.34vw;
  align-self: center;
  margin-top: 5.34vw;
}

.box_7 {
  background-color: rgba(26, 130, 226, 0.1);
  height: 23.47vw;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.section_1 {
  width: 100vw;
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 13.33vw 1.86vw 1.6vw 21.6vw;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.53vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.54vw;
  margin-top: 2vw;
}

.image-wrapper_1 {
  width: 23.2vw;
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 1.73vw 3.2vw 1.6vw 3.46vw;
}

.image_4 {
  width: 4.94vw;
  height: 1.74vw;
  margin: 1.73vw 0 1.73vw 0;
}

.label_2 {
  width: 5.2vw;
  height: 5.2vw;
}

.box_8 {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 216.54vw;
  padding: 23.46vw 0 164.26vw 0;
}

.box_9 {
  background: url(/static/lanhu_shouyex2fxialacaidan/SketchPnge7897e034a15f87090cec30cafd151c1259055e4da404c2632d15efd9bbbde4e.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.26vw 4.66vw 2.26vw 4.26vw;
}

.image-text_3 {
  width: 33.6vw;
}

.image_5 {
  width: 8.54vw;
  height: 8.54vw;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 5.86vw;
  font-family: AlimamaFangYuanTiVF-Bold-Round;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 5.87vw;
  margin-top: 0.67vw;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(145, 122, 9, 1);
  font-size: 4.8vw;
  letter-spacing: -2.5px;
  font-family: ShouShuti;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.8vw;
  margin: 2vw 0 0 2vw;
}

.label_3 {
  width: 5.47vw;
  height: 5.47vw;
  margin: 1.6vw 0 1.46vw 12.13vw;
}

.box_10 {
  background-color: rgba(255, 238, 77, 1);
  padding: 3.73vw 8.66vw 3.46vw 5.86vw;
}

.text-wrapper_1 {
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 5.33vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 4.54vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 4vw;
  margin: 0.53vw 0 0 14.8vw;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 4vw;
  margin: 0.53vw 0 0 17.33vw;
}

.image-wrapper_2 {
  margin: 2.93vw 72.66vw 0 8.8vw;
}

.image_6 {
  width: 4vw;
  height: 1.07vw;
}

.box_11 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  position: absolute;
  left: 0;
  top: 49.6vw;
  width: 100vw;
  height: 58.67vw;
  padding: 0 2.13vw 3.2vw 3.73vw;
}

.image_7 {
  width: 10.4vw;
  height: 2.4vw;
  margin: 0 75.73vw 0 8vw;
}

.section_2 {
  width: 93.6vw;
  margin: 2.66vw 0.53vw 0 0;
}

.group_1 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 4vw 1.2vw 3.73vw;
}

.image-text_4 {
  width: 13.6vw;
}

.label_4 {
  width: 3.47vw;
  height: 4.27vw;
  margin: 0.53vw 0 1.2vw 0;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.group_2 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.2vw 3.33vw 1.33vw 3.86vw;
}

.image-text_5 {
  width: 14.14vw;
}

.label_5 {
  width: 4vw;
  height: 4.54vw;
  margin: 0.8vw 0 0.66vw 0;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.group_3 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 3.86vw 1.2vw 3.46vw;
}

.image-text_6 {
  width: 14vw;
}

.label_6 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_6 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.group_4 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.2vw 2.93vw 1.33vw 3.46vw;
}

.image-text_7 {
  width: 18.4vw;
}

.label_7 {
  width: 4.27vw;
  height: 3.87vw;
  margin: 1.2vw 0 0.93vw 0;
}

.text-group_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_3 {
  margin-top: 2.94vw;
}

.section_4 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 6.93vw 1.2vw 3.46vw;
}

.image-text_8 {
  width: 19.2vw;
}

.label_8 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_8 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_5 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  margin-left: 2.14vw;
  padding: 1.33vw 3.86vw 1.2vw 3.46vw;
}

.image-text_9 {
  width: 19.2vw;
}

.label_9 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_9 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_6 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  margin-left: 6.8vw;
  padding: 1.33vw 6.4vw 1.2vw 3.46vw;
}

.image-text_10 {
  width: 19.2vw;
}

.label_10 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_10 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_7 {
  width: 94.14vw;
  margin-top: 2.67vw;
}

.box_12 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 6.93vw 1.2vw 3.46vw;
}

.image-text_11 {
  width: 19.2vw;
}

.label_11 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_11 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.box_13 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 8.53vw 1.2vw 3.46vw;
}

.image-text_12 {
  width: 19.2vw;
}

.label_12 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_12 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.box_14 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 6.4vw 1.2vw 3.46vw;
}

.image-text_13 {
  width: 19.2vw;
}

.label_13 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_13 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_8 {
  width: 81.87vw;
  margin: 2.66vw 12.26vw 0 0;
}

.section_9 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 3.2vw 1.2vw 3.46vw;
}

.image-text_14 {
  width: 19.2vw;
}

.label_14 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_14 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_10 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 3.2vw 1.2vw 3.46vw;
}

.image-text_15 {
  width: 19.2vw;
}

.label_15 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_15 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.section_11 {
  background-color: rgba(239, 241, 244, 1);
  border-radius: 32px;
  padding: 1.33vw 3.2vw 1.2vw 3.46vw;
}

.image-text_16 {
  width: 19.2vw;
}

.label_16 {
  width: 4.4vw;
  height: 4.27vw;
  margin: 0.8vw 0 0.93vw 0;
}

.text-group_16 {
  overflow-wrap: break-word;
  color: rgba(100, 101, 102, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 6vw;
}

.label_17 {
  width: 6.4vw;
  height: 6.4vw;
  margin: 1.6vw 0 0 87.73vw;
}
