html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 20rem;
  height: 45.707rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.08rem;
}

.box_1 {
  width: 20rem;
  background: url(/static/lanhu_chaxunjilu/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.667rem 0.374rem 0.32rem 4.32rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin-top: 0.4rem;
}

.image-wrapper_1 {
  width: 4.64rem;
  background: url(/static/lanhu_chaxunjilu/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.347rem 0.64rem 0.32rem 0.694rem;
}

.image_1 {
  width: 0.987rem;
  height: 0.347rem;
  margin: 0.347rem 0 0.347rem 0;
}

.label_1 {
  width: 1.04rem;
  height: 1.04rem;
}

.box_2 {
  padding-bottom: 16.4rem;
}

.group_1 {
  width: 20rem;
  background: url(/static/lanhu_chaxunjilu/SketchPng2df77b4c56b04cabb891cdbe34ca20e239efa0ef9f685fa7421a48e330ad14f7.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
  padding: 0.667rem 0.854rem 0.667rem 0.854rem;
}

.label_2 {
  width: 0.614rem;
  height: 1.067rem;
  margin: 0.134rem 0 0.08rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 5.814rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 2.8rem;
}

.group_2 {
  background-color: rgba(230, 238, 255, 1);
  padding: 0.454rem 9.574rem 0.48rem 1.014rem;
}

.image-text_1 {
  width: 9.414rem;
}

.label_3 {
  width: 0.747rem;
  height: 0.747rem;
  margin: 0.08rem 0 0.054rem 0;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(87, 116, 176, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
}

.list_1 {
  width: 18.72rem;
  height: 9.494rem;
  align-self: center;
  margin-top: 0.56rem;
}

.list-items_1 {
  box-shadow: 0px 5px 6px 0px rgba(148, 148, 148, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  width: 18.72rem;
  height: 4.427rem;
  margin-bottom: 0.64rem;
  padding-left: 0.427rem;
}

.text-wrapper_1 {
  box-shadow: 0px 8px 20px -5px rgba(242, 242, 242, 0.18);
  background-color: rgba(235, 237, 240, 0.4);
  border-radius: 12px;
  margin: 0.48rem 0 0.747rem 0;
  padding: 1.174rem 0.48rem 1.28rem 0.534rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 0.533rem;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-group_2 {
  margin: 0.534rem 0 0.64rem 0.614rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.12rem;
  margin-right: 1.36rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.054rem 1.147rem 0 0;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
  margin-top: 0.027rem;
}

.image-wrapper_2 {
  border-radius: 0px 12px 12px 0px;
  height: 4.427rem;
  margin-left: 5.814rem;
  width: 1.707rem;
  padding: 2.08rem 0.587rem 2.027rem 0.587rem;
}

.label_4 {
  width: 0.64rem;
  height: 0.64rem;
}

.thumbnail_1 {
  width: 0.534rem;
  height: 0.32rem;
}

.group_3 {
  box-shadow: 0px 5px 6px 0px rgba(148, 148, 148, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  align-self: center;
  margin-top: 0.64rem;
  width: 18.72rem;
}

.group_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  width: 18.72rem;
  padding-left: 0.427rem;
}

.text-wrapper_2 {
  box-shadow: 0px 8px 20px -5px rgba(242, 242, 242, 0.18);
  background-color: rgba(235, 237, 240, 0.4);
  border-radius: 12px;
  margin: 0.48rem 0 0.747rem 0;
  padding: 1.174rem 0.48rem 1.28rem 0.534rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 0.533rem;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-group_3 {
  margin: 0.534rem 0 0.64rem 0.614rem;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.12rem;
  margin-right: 1.36rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.054rem 1.147rem 0 0;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.987rem;
  margin-top: 0.027rem;
}

.image-wrapper_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0px 12px 12px 0px;
  margin-left: 5.814rem;
  padding: 2.08rem 0.587rem 2.027rem 0.587rem;
}

.thumbnail_2 {
  width: 0.534rem;
  height: 0.32rem;
}

.group_5 {
  width: 17.867rem;
  align-self: center;
  margin-top: 2.32rem;
}

.block_1 {
  background-color: rgba(235, 237, 240, 1);
  width: 6.88rem;
  height: 0.027rem;
  margin: 0.454rem 0 0.4rem 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-left: 0.454rem;
}

.block_2 {
  background-color: rgba(235, 237, 240, 1);
  width: 6.827rem;
  height: 0.027rem;
  margin: 0.454rem 0 0.4rem 0.507rem;
}

.image_2 {
  width: 20rem;
  height: 1.814rem;
  margin-top: -0.026rem;
}
