html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 20rem;
  height: 45.707rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.08rem;
}

.box_1 {
  width: 20rem;
  background: url(/static/lanhu_xiaofeijilu/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.667rem 0.374rem 0.32rem 4.32rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin-top: 0.4rem;
}

.image-wrapper_1 {
  width: 4.64rem;
  background: url(/static/lanhu_xiaofeijilu/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.347rem 0.64rem 0.32rem 0.694rem;
}

.image_1 {
  width: 0.987rem;
  height: 0.347rem;
  margin: 0.347rem 0 0.347rem 0;
}

.label_1 {
  width: 1.04rem;
  height: 1.04rem;
}

.box_2 {
  padding-bottom: 12.747rem;
}

.group_1 {
  background: url(/static/lanhu_xiaofeijilu/SketchPngcb0e9ae7e614d847082c10bf51be45760437b27a8327c35d647f2f2988213b06.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.667rem 0.854rem 0.027rem 0.854rem;
}

.group_2 {
  width: 18.294rem;
}

.label_2 {
  width: 0.614rem;
  height: 1.067rem;
  margin: 0.134rem 0 0.08rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
}

.group_3 {
  margin: 1.28rem 2.454rem 0 0.56rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
}

.image_2 {
  width: 0.027rem;
  height: 0.72rem;
  margin: 0.347rem 0 0.134rem 1.36rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(11, 11, 11, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
  margin-left: 3.28rem;
}

.group_4 {
  margin: 0.507rem 13.067rem 0 3.094rem;
}

.box_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 3px;
  width: 2.134rem;
  height: 0.16rem;
}

.group_5 {
  width: 18.72rem;
  background: url(/static/lanhu_xiaofeijilu/SketchPng4d8f9f6636d6e80ee67ee315a0727d8a7f39452344262d8a9a77f01316b8632b.png) -1.44rem -1.44rem
    no-repeat;
  background-size: 21.6rem 7.734rem;
  align-self: center;
  margin-top: 0.88rem;
  padding: 0.774rem 1.68rem 0.64rem 0.64rem;
}

.text-group_1 {
  margin-bottom: 0.214rem;
}

.text_5 {
  width: 12.027rem;
  height: 2.294rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.147rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 0.96);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 5.6rem 0 0;
}

.image_3 {
  width: 0.054rem;
  height: 3.44rem;
  margin-left: 0.614rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.96rem;
  font-family: Avenir-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 0.96rem;
  margin: 1.174rem 0 0 1.52rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 1.28rem 0 0 0.107rem;
}

.list_1 {
  width: 18.72rem;
  height: 12.4rem;
  align-self: center;
  margin-top: 0.64rem;
}

.list-items_1 {
  background: url(/static/lanhu_xiaofeijilu/SketchPng82f64d10f04090fe6172b25826f70a0a88b38f4ee74a4483fdb8a76b16438c95.png) -1.44rem -1.44rem
    no-repeat;
  background-size: 21.6rem 6.587rem;
  margin-bottom: 0.64rem;
  padding: 0.747rem 1.68rem 0.8rem 0.64rem;
}

.text-group_2 {
  margin-bottom: 0.054rem;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.147rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 0.96);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.32rem 3.2rem 0 0;
}

.image_4 {
  width: 0.027rem;
  height: 2.134rem;
  margin: 0.027rem 0 0 3.014rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.96rem;
  font-family: Avenir-Heavy;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  line-height: 0.96rem;
  margin: 0.64rem 0 0 1.547rem;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.747rem 0 0 0.107rem;
}

.group_6 {
  width: 17.867rem;
  align-self: center;
  margin-top: 1.627rem;
}

.group_7 {
  background-color: rgba(235, 237, 240, 1);
  width: 6.88rem;
  height: 0.027rem;
  margin: 0.454rem 0 0.4rem 0;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-left: 0.454rem;
}

.group_8 {
  background-color: rgba(235, 237, 240, 1);
  width: 6.827rem;
  height: 0.027rem;
  margin: 0.454rem 0 0.4rem 0.507rem;
}

.image_5 {
  width: 20rem;
  height: 1.814rem;
  margin-top: -0.026rem;
}
