.page {
  background-color: rgba(244, 244, 244, 1);
  position: relative;
  width: 750px;
  height: 1678px;
  overflow: hidden;
  padding: 88px 0 37px 0;
}

.box_1 {
  width: 750px;
  height: 88px;
  background: url(/static/lanhu_baogaoyemian/SketchPng8ca03be098f985e6cffe1b132194c6d45e50a26513cec7553f67884e699731e9.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_2 {
  background: url(/static/lanhu_baogaoyemian/SketchPnge609c74bdc9bd289bdacce7f04c171c6187064ed3f00eb146d6b6e7b43242408.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 26px 33px 182px 32px;
}

.label_1 {
  width: 23px;
  height: 40px;
  margin: 4px 0 4px 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 48px;
  margin-left: 252px;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 48px;
  margin-left: 138px;
}

.text_3 {
  width: 690px;
  height: 80px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  line-height: 40px;
  margin: 1109px 34px 0 26px;
}

.image_1 {
  width: 268px;
  height: 10px;
  align-self: center;
  margin-top: 10px;
}

.box_3 {
  background-color: rgba(26, 130, 226, 0.1);
  height: 176px;
  width: 750px;
  position: absolute;
  left: 0;
  top: 0;
}

.box_4 {
  width: 750px;
  background: url(/static/lanhu_baogaoyemian/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 100px 14px 12px 162px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 34px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 34px;
  margin-top: 15px;
}

.image-wrapper_1 {
  width: 174px;
  background: url(/static/lanhu_baogaoyemian/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 13px 24px 12px 26px;
}

.image_2 {
  width: 37px;
  height: 13px;
  margin: 13px 0 13px 0;
}

.label_2 {
  width: 39px;
  height: 39px;
}

.box_5 {
  position: absolute;
  left: 26px;
  top: 302px;
  width: 690px;
  height: 1211px;
  background: url(/static/lanhu_baogaoyemian/SketchPng8d7316bd4dfa12d7673cb896da7dcfdc8aee3bf14eaf2256ed1af2e743481462.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 51px 0 1px 0;
}

.text-wrapper_1 {
  width: 204px;
  margin: 0 458px 0 28px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 2px;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(255, 97, 4, 1);
  font-size: 36px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.image_3 {
  width: 691px;
  height: 1px;
  margin: 40px -1px 0 0;
}

.group_1 {
  margin: 46px 13px 0 35px;
}

.image_4 {
  width: 214px;
  height: 124px;
  margin: 33px 0 22px 0;
}

.text-wrapper_2 {
  margin-left: 63px;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-top: 59px;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-top: 24px;
}

.group_2 {
  margin-left: 21px;
}

.text-group_1 {
}

.text_10 {
  width: 288px;
  height: 64px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  line-height: 32px;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 27px 197px 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 24px 148px 0 0;
}

.group_3 {
  width: 652px;
  margin: 43px 37px 0 1px;
}

.box_6 {
  position: relative;
  background: url(/static/lanhu_baogaoyemian/SketchPng934b6dd4c4d185b153bfeb79ed876f5a5bfa86a3d0260c6c46dc273be1e1e082.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 34px 89px 29px 23px;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-right: 84px;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-top: 56px;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 177px 84px 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 49px 112px 0 0;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 55px 28px 0 0;
}

.image_5 {
  position: absolute;
  left: -1px;
  top: 0;
  width: 691px;
  height: 1px;
}

.image_6 {
  position: absolute;
  left: -1px;
  top: 95px;
  width: 691px;
  height: 1px;
}

.image_7 {
  position: absolute;
  left: -1px;
  top: 306px;
  width: 691px;
  height: 1px;
}

.image_8 {
  position: absolute;
  left: -1px;
  top: 385px;
  width: 691px;
  height: 1px;
}

.image_9 {
  position: absolute;
  left: -1px;
  top: 468px;
  width: 691px;
  height: 1px;
}

.image_10 {
  position: absolute;
  left: -1px;
  top: 559px;
  width: 691px;
  height: 1px;
}

.box_7 {
  margin: 34px 0 24px 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text-group_2 {
  margin-top: 51px;
}

.text_19 {
  width: 341px;
  height: 168px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  line-height: 42px;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 46px 257px 0 0;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 49px 229px 0 0;
}

.box_8 {
  width: 330px;
  margin: 50px 11px 0 0;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 32px;
  margin-top: 5px;
}

.text-wrapper_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 21px;
  padding: 5px 15px 5px 14px;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 32px;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(158, 158, 158, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 21px 386px 0 24px;
}

.group_4 {
  width: 423px;
  margin: 21px 266px 0 1px;
}

.block_1 {
  position: relative;
  background: url(/static/lanhu_baogaoyemian/SketchPnga2590f504c4102d644dcdba82fddef00822593b8638106fafe9b1b5b93dc0ea3.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 29px 145px 43px 23px;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-top: 48px;
}

.image_11 {
  position: absolute;
  left: -1px;
  top: 1px;
  width: 691px;
  height: 1px;
}

.image_12 {
  position: absolute;
  left: -1px;
  top: 84px;
  width: 691px;
  height: 1px;
}

.text-wrapper_4 {
  margin: 29px 0 43px 0;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(210, 73, 73, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(210, 73, 73, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-top: 48px;
}

.text-wrapper_5 {
  background-color: rgba(232, 232, 232, 1);
  border-radius: 16px;
  height: 203px;
  border: 1px solid rgba(198, 198, 198, 1);
  width: 242px;
  position: absolute;
  left: 21px;
  top: 155px;
  padding: 78px 52px 83px 52px;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
}
