.page {
  background-color: rgba(244, 244, 244, 1);
  position: relative;
  width: 750rpx;
  height: 1678rpx;
  overflow: hidden;
  padding: 88rpx 0 37rpx 0;
}

.box_1 {
  width: 750rpx;
  height: 88rpx;
  background: url(/static/lanhu_baogaoyemian/SketchPng8ca03be098f985e6cffe1b132194c6d45e50a26513cec7553f67884e699731e9.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_2 {
  background: url(/static/lanhu_baogaoyemian/SketchPnge609c74bdc9bd289bdacce7f04c171c6187064ed3f00eb146d6b6e7b43242408.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 26rpx 33rpx 182rpx 32rpx;
}

.label_1 {
  width: 23rpx;
  height: 40rpx;
  margin: 4rpx 0 4rpx 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 48rpx;
  margin-left: 252rpx;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 48rpx;
  margin-left: 138rpx;
}

.text_3 {
  width: 690rpx;
  height: 80rpx;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 40rpx;
  margin: 1109rpx 34rpx 0 26rpx;
}

.image_1 {
  width: 268rpx;
  height: 10rpx;
  align-self: center;
  margin-top: 10rpx;
}

.box_3 {
  background-color: rgba(26, 130, 226, 0.1);
  height: 176rpx;
  width: 750rpx;
  position: absolute;
  left: 0;
  top: 0;
}

.box_4 {
  width: 750rpx;
  background: url(/static/lanhu_baogaoyemian/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 100rpx 14rpx 12rpx 162rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 34rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 15rpx;
}

.image-wrapper_1 {
  width: 174rpx;
  background: url(/static/lanhu_baogaoyemian/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 13rpx 24rpx 12rpx 26rpx;
}

.image_2 {
  width: 37rpx;
  height: 13rpx;
  margin: 13rpx 0 13rpx 0;
}

.label_2 {
  width: 39rpx;
  height: 39rpx;
}

.box_5 {
  position: absolute;
  left: 26rpx;
  top: 302rpx;
  width: 690rpx;
  height: 1211rpx;
  background: url(/static/lanhu_baogaoyemian/SketchPng8d7316bd4dfa12d7673cb896da7dcfdc8aee3bf14eaf2256ed1af2e743481462.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 51rpx 0 1rpx 0;
}

.text-wrapper_1 {
  width: 204rpx;
  margin: 0 458rpx 0 28rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin-top: 2rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(255, 97, 4, 1);
  font-size: 36rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.image_3 {
  width: 691rpx;
  height: 1rpx;
  margin: 40rpx -1rpx 0 0;
}

.group_1 {
  margin: 46rpx 13rpx 0 35rpx;
}

.image_4 {
  width: 214rpx;
  height: 124rpx;
  margin: 33rpx 0 22rpx 0;
}

.text-wrapper_2 {
  margin-left: 63rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 59rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 24rpx;
}

.group_2 {
  margin-left: 21rpx;
}

.text-group_1 {
}

.text_10 {
  width: 288rpx;
  height: 64rpx;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 32rpx;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 27rpx 197rpx 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 24rpx 148rpx 0 0;
}

.group_3 {
  width: 652rpx;
  margin: 43rpx 37rpx 0 1rpx;
}

.box_6 {
  position: relative;
  background: url(/static/lanhu_baogaoyemian/SketchPng934b6dd4c4d185b153bfeb79ed876f5a5bfa86a3d0260c6c46dc273be1e1e082.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 34rpx 89rpx 29rpx 23rpx;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-right: 84rpx;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 56rpx;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 177rpx 84rpx 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 49rpx 112rpx 0 0;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 55rpx 28rpx 0 0;
}

.image_5 {
  position: absolute;
  left: -1rpx;
  top: 0;
  width: 691rpx;
  height: 1rpx;
}

.image_6 {
  position: absolute;
  left: -1rpx;
  top: 95rpx;
  width: 691rpx;
  height: 1rpx;
}

.image_7 {
  position: absolute;
  left: -1rpx;
  top: 306rpx;
  width: 691rpx;
  height: 1rpx;
}

.image_8 {
  position: absolute;
  left: -1rpx;
  top: 385rpx;
  width: 691rpx;
  height: 1rpx;
}

.image_9 {
  position: absolute;
  left: -1rpx;
  top: 468rpx;
  width: 691rpx;
  height: 1rpx;
}

.image_10 {
  position: absolute;
  left: -1rpx;
  top: 559rpx;
  width: 691rpx;
  height: 1rpx;
}

.box_7 {
  margin: 34rpx 0 24rpx 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.text-group_2 {
  margin-top: 51rpx;
}

.text_19 {
  width: 341rpx;
  height: 168rpx;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 46rpx 257rpx 0 0;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 49rpx 229rpx 0 0;
}

.box_8 {
  width: 330rpx;
  margin: 50rpx 11rpx 0 0;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 5rpx;
}

.text-wrapper_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 21px;
  padding: 5rpx 15rpx 5rpx 14rpx;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 32rpx;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(158, 158, 158, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 21rpx 386rpx 0 24rpx;
}

.group_4 {
  width: 423rpx;
  margin: 21rpx 266rpx 0 1rpx;
}

.block_1 {
  position: relative;
  background: url(/static/lanhu_baogaoyemian/SketchPnga2590f504c4102d644dcdba82fddef00822593b8638106fafe9b1b5b93dc0ea3.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 29rpx 145rpx 43rpx 23rpx;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 48rpx;
}

.image_11 {
  position: absolute;
  left: -1rpx;
  top: 1rpx;
  width: 691rpx;
  height: 1rpx;
}

.image_12 {
  position: absolute;
  left: -1rpx;
  top: 84rpx;
  width: 691rpx;
  height: 1rpx;
}

.text-wrapper_4 {
  margin: 29rpx 0 43rpx 0;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(210, 73, 73, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(210, 73, 73, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 48rpx;
}

.text-wrapper_5 {
  background-color: rgba(232, 232, 232, 1);
  border-radius: 16px;
  height: 203rpx;
  border: 1px solid rgba(198, 198, 198, 1);
  width: 242rpx;
  position: absolute;
  left: 21rpx;
  top: 155rpx;
  padding: 78rpx 52rpx 83rpx 52rpx;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 34rpx;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40rpx;
}
