.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750rpx;
  height: 1558rpx;
  overflow: hidden;
  padding: 71rpx 0 699rpx 0;
}

.group_1 {
  width: 750rpx;
}

.box_1 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 7rpx 85rpx 16rpx 84rpx;
}

.image_1 {
  width: 65rpx;
  height: 65rpx;
  margin: 0 7rpx 0 9rpx;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20rpx;
  margin-top: 4rpx;
}

.box_2 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18rpx 85rpx 16rpx 84rpx;
}

.label_1 {
  width: 44rpx;
  height: 44rpx;
  margin: 0 18rpx 0 19rpx;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20rpx;
  margin-top: 14rpx;
}

.box_3 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 20rpx 85rpx 15rpx 84rpx;
}

.label_2 {
  width: 44rpx;
  height: 42rpx;
  margin: 0 18rpx 0 19rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20rpx;
  margin-top: 15rpx;
}

.group_2 {
  position: relative;
  width: 411rpx;
  align-self: center;
  margin-top: 64rpx;
  padding: 0 158rpx 0 157rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(181, 181, 181, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
}

.image_2 {
  position: absolute;
  left: 0;
  top: 16rpx;
  width: 411rpx;
  height: 2rpx;
}

.group_3 {
  width: 750rpx;
  margin-top: 102rpx;
}

.group_4 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 9rpx 85rpx 18rpx 84rpx;
}

.image-text_1 {
}

.image_3 {
  width: 59rpx;
  height: 59rpx;
  margin: 0 9rpx 0 13rpx;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 12rpx;
  margin-top: 14rpx;
}

.group_5 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18rpx 85rpx 16rpx 84rpx;
}

.image-text_2 {
}

.label_3 {
  width: 44rpx;
  height: 44rpx;
  margin: 0 18rpx 0 19rpx;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20rpx;
  margin-top: 14rpx;
}

.group_6 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 8rpx 85rpx 15rpx 84rpx;
}

.image-text_3 {
}

.image_4 {
  width: 64rpx;
  height: 64rpx;
  margin: 0 8rpx 0 9rpx;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20rpx;
  margin-top: 5rpx;
}

.group_7 {
  margin: 224rpx 101rpx 0 99rpx;
}

.label_4 {
  width: 41rpx;
  height: 41rpx;
  margin: 2rpx 0 1rpx 0;
}

.label_5 {
  width: 23rpx;
  height: 40rpx;
  margin: 2rpx 0 2rpx 68rpx;
}

.label_6 {
  width: 43rpx;
  height: 41rpx;
  margin: 1rpx 0 2rpx 70rpx;
}

.label_7 {
  width: 44rpx;
  height: 44rpx;
  margin-left: 59rpx;
}

.image-wrapper_1 {
  background: url(/static/lanhu_biaoqianlan/e07b086fb3fc46bc8260f11c13d11340_mergeImage.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 59rpx;
  padding: 2rpx 3rpx 3rpx 2rpx;
}

.label_8 {
  width: 39rpx;
  height: 39rpx;
}

.label_9 {
  width: 37rpx;
  height: 37rpx;
  margin: 3rpx 0 4rpx 62rpx;
}

.image-wrapper_2 {
  margin: 49rpx 211rpx 0 110rpx;
}

.image_5 {
  width: 23rpx;
  height: 19rpx;
  margin: 21rpx 0 8rpx 0;
}

.label_10 {
  width: 21rpx;
  height: 22rpx;
  margin: 17rpx 0 9rpx 83rpx;
}

.label_11 {
  width: 48rpx;
  height: 48rpx;
  margin-left: 61rpx;
}

.label_12 {
  width: 44rpx;
  height: 44rpx;
  margin: 4rpx 0 0 55rpx;
}

.label_13 {
  width: 24rpx;
  height: 24rpx;
  margin: 14rpx 0 10rpx 70rpx;
}

.group_8 {
  background-color: rgba(255, 255, 255, 1);
  height: 180rpx;
  padding-bottom: 68rpx;
  width: 750rpx;
  position: absolute;
  left: 0;
  top: 230rpx;
}

.list_1 {
  width: 750rpx;
  height: 112rpx;
  justify-content: space-between;
}

.image-text_4 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18rpx 85rpx 16rpx 84rpx;
}

.label_14 {
  width: 44rpx;
  height: 44rpx;
  margin: 0 18rpx 0 19rpx;
}

.text-group_4 {
  overflow-wrap: break-word;
  font-size: 20rpx;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20rpx;
  margin-top: 14rpx;
}
