.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 750px;
  height: 1558px;
  overflow: hidden;
  padding: 71px 0 699px 0;
}

.group_1 {
  width: 750px;
}

.box_1 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 7px 85px 16px 84px;
}

.image_1 {
  width: 65px;
  height: 65px;
  margin: 0 7px 0 9px;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 4px;
}

.box_2 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18px 85px 16px 84px;
}

.label_1 {
  width: 44px;
  height: 44px;
  margin: 0 18px 0 19px;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 14px;
}

.box_3 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 20px 85px 15px 84px;
}

.label_2 {
  width: 44px;
  height: 42px;
  margin: 0 18px 0 19px;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 15px;
}

.group_2 {
  position: relative;
  width: 411px;
  align-self: center;
  margin-top: 64px;
  padding: 0 158px 0 157px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(181, 181, 181, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
}

.image_2 {
  position: absolute;
  left: 0;
  top: 16px;
  width: 411px;
  height: 2px;
}

.group_3 {
  width: 750px;
  margin-top: 102px;
}

.group_4 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 9px 85px 18px 84px;
}

.image-text_1 {
}

.image_3 {
  width: 59px;
  height: 59px;
  margin: 0 9px 0 13px;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 14px;
}

.group_5 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18px 85px 16px 84px;
}

.image-text_2 {
}

.label_3 {
  width: 44px;
  height: 44px;
  margin: 0 18px 0 19px;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(25, 31, 37, 0.4);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 14px;
}

.group_6 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 8px 85px 15px 84px;
}

.image-text_3 {
}

.image_4 {
  width: 64px;
  height: 64px;
  margin: 0 8px 0 9px;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 5px;
}

.group_7 {
  margin: 224px 101px 0 99px;
}

.label_4 {
  width: 41px;
  height: 41px;
  margin: 2px 0 1px 0;
}

.label_5 {
  width: 23px;
  height: 40px;
  margin: 2px 0 2px 68px;
}

.label_6 {
  width: 43px;
  height: 41px;
  margin: 1px 0 2px 70px;
}

.label_7 {
  width: 44px;
  height: 44px;
  margin-left: 59px;
}

.image-wrapper_1 {
  background: url(/static/lanhu_biaoqianlan/e07b086fb3fc46bc8260f11c13d11340_mergeImage.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 59px;
  padding: 2px 3px 3px 2px;
}

.label_8 {
  width: 39px;
  height: 39px;
}

.label_9 {
  width: 37px;
  height: 37px;
  margin: 3px 0 4px 62px;
}

.image-wrapper_2 {
  margin: 49px 211px 0 110px;
}

.image_5 {
  width: 23px;
  height: 19px;
  margin: 21px 0 8px 0;
}

.label_10 {
  width: 21px;
  height: 22px;
  margin: 17px 0 9px 83px;
}

.label_11 {
  width: 48px;
  height: 48px;
  margin-left: 61px;
}

.label_12 {
  width: 44px;
  height: 44px;
  margin: 4px 0 0 55px;
}

.label_13 {
  width: 24px;
  height: 24px;
  margin: 14px 0 10px 70px;
}

.group_8 {
  background-color: rgba(255, 255, 255, 1);
  height: 180px;
  padding-bottom: 68px;
  width: 750px;
  position: absolute;
  left: 0;
  top: 230px;
}

.list_1 {
  width: 750px;
  height: 112px;
  justify-content: space-between;
}

.image-text_4 {
  background: url(/static/lanhu_biaoqianlan/SketchPngc816af145f120efb844ce02beef8d2c0951391bdc917fee3764883ec6bc46966.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 18px 85px 16px 84px;
}

.label_14 {
  width: 44px;
  height: 44px;
  margin: 0 18px 0 19px;
}

.text-group_4 {
  overflow-wrap: break-word;
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 14px;
}
