.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 100vw;
  height: 307.34vw;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8vw 7.33vw 31.6vw 7.33vw;
}

.list_1 {
  height: 267.74vw;
}

.list-items_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  width: 85.34vw;
  height: 82.94vw;
  margin-bottom: 9.47vw;
  padding: 6.66vw 0 4.8vw 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 6.67vw;
  align-self: center;
}

.text_2 {
  width: 72.27vw;
  height: 44.8vw;
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: left;
  line-height: 5.6vw;
  margin: 3.33vw 5.6vw 0 7.46vw;
}

.section_1 {
  background-color: rgba(229, 229, 229, 1);
  width: 85.34vw;
  height: 0.14vw;
  margin-top: 8vw;
}

.section_2 {
  width: 66.4vw;
  align-self: center;
  margin-top: 2.54vw;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(174, 174, 174, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
  margin-top: 1.74vw;
}

.image_1 {
  width: 0.14vw;
  height: 8vw;
  margin-left: 9.34vw;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
  margin: 1.73vw 0 0 10.13vw;
}

.image_2 {
  width: 0.14vw;
  height: 8vw;
  margin-left: 8.54vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
  margin: 1.73vw 0 0 9.33vw;
}

.section_3 {
  margin: 2.53vw 15.86vw 0 17.06vw;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(174, 174, 174, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
  margin-top: 1.74vw;
}

.image_3 {
  width: 0.14vw;
  height: 8vw;
  margin-left: 16vw;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
  margin: 1.73vw 0 0 17.06vw;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
  align-self: center;
  margin-top: 4.27vw;
}
