.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 750rpx;
  height: 2305rpx;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60rpx 55rpx 237rpx 55rpx;
}

.list_1 {
  height: 2008rpx;
}

.list-items_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  width: 640rpx;
  height: 622rpx;
  margin-bottom: 71rpx;
  padding: 50rpx 0 36rpx 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 50rpx;
  align-self: center;
}

.text_2 {
  width: 542rpx;
  height: 336rpx;
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 42rpx;
  margin: 25rpx 42rpx 0 56rpx;
}

.section_1 {
  background-color: rgba(229, 229, 229, 1);
  width: 640rpx;
  height: 1rpx;
  margin-top: 60rpx;
}

.section_2 {
  width: 498rpx;
  align-self: center;
  margin-top: 19rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(174, 174, 174, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 13rpx;
}

.image_1 {
  width: 1rpx;
  height: 60rpx;
  margin-left: 70rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 13rpx 0 0 76rpx;
}

.image_2 {
  width: 1rpx;
  height: 60rpx;
  margin-left: 64rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 13rpx 0 0 70rpx;
}

.section_3 {
  margin: 19rpx 119rpx 0 128rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(174, 174, 174, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-top: 13rpx;
}

.image_3 {
  width: 1rpx;
  height: 60rpx;
  margin-left: 120rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 13rpx 0 0 128rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 36rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  align-self: center;
  margin-top: 32rpx;
}
