.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 750px;
  height: 1625px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 1px;
  padding-left: 0;
  padding-right: 0;
}

.block_1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 1624px;
  padding-top: 329px;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  align-self: center;
  width: 640px;
  padding: 227px 0 44px 31px;
}

.section_1 {
  margin: 0 194px 0 2px;
}

.text-wrapper_1 {
  width: 413px;
  height: 45px;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
}

.text_1 {
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_2 {
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(255, 87, 0, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_3 {
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(255, 87, 0, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_4 {
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.section_2 {
  margin: 16px -74px 0 1px;
}

.group_2 {
  background-color: rgba(255, 250, 240, 1);
  border-radius: 8px;
  border: 2px solid rgba(255, 150, 50, 1);
  padding: 42px 0 0 36px;
}

.text-wrapper_2 {
  width: 50px;
  margin-right: 26px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 40px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 56px;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 33px;
  margin-top: 13px;
}

.image-wrapper_1 {
  margin: 42px 0 0 42px;
}

.label_1 {
  width: 34px;
  height: 34px;
}

.group_3 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 12px;
}

.text-wrapper_3 {
  background-color: rgba(255, 140, 0, 1);
  border-radius: 0px 8px 0px 16px;
  margin-left: 79px;
  padding: 1px 8px 1px 8px;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.text-group_1 {
  position: relative;
  margin: 3px 32px 0 33px;
  padding: 0 27px 23px 4px;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 40px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 56px;
}

.text_9 {
  position: absolute;
  left: 0;
  top: 49px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 30px;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 33px;
  margin: -66px 34px 0 79px;
}

.text-wrapper_4 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 48px;
  padding: 9px 28px 12px 29px;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.group_4 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 12px;
  padding-top: 33px;
}

.text-group_2 {
  position: relative;
  width: 85px;
  align-self: center;
  padding: 0 30px 23px 7px;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 40px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 56px;
}

.text_13 {
  position: absolute;
  left: 0;
  top: 49px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 30px;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 33px;
  margin: -66px 30px 0 83px;
}

.text-wrapper_5 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 48px;
  padding: 9px 28px 12px 29px;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.group_5 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 12px;
  padding-top: 33px;
}

.text-group_3 {
  margin: 0 25px 0 24px;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 40px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 56px;
  margin-right: 22px;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 30px;
  margin: -7px 0 0 3px;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 33px;
  margin: -66px 22px 0 91px;
}

.text-wrapper_6 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 48px;
  padding: 9px 28px 12px 29px;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
}

.image-text_1 {
  position: relative;
  margin-left: 12px;
  padding: 30px 0 12px 24px;
}

.text-group_4 {
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 40px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 56px;
  margin-right: 11px;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 22px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 30px;
  margin: -7px 0 0 13px;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 20px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 27px 2px 0 14px;
}

.section_3 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  height: 176px;
  padding-top: 127px;
  width: 35px;
  position: absolute;
  left: 0;
  top: 0;
}

.box_1 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  width: 35px;
  height: 49px;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  letter-spacing: 0.12727266550064087px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 1px 0 0 6px;
}

.text-wrapper_7 {
  margin: 24px 468px 0 1px;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
}

.section_4 {
  width: 576px;
  margin: 16px 32px 0 1px;
}

.box_2 {
  border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 1);
  padding: 16px 62px 16px 64px;
}

.image-text_2 {
  width: 152px;
}

.label_2 {
  width: 44px;
  height: 44px;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 12px;
}

.box_3 {
  border-radius: 8px;
  width: 280px;
  border: 1px solid rgba(255, 150, 50, 1);
  padding: 18px 0 0 47px;
}

.label_3 {
  width: 43px;
  height: 40px;
  margin-bottom: 19px;
}

.image-text_3 {
  width: 175px;
  margin-top: 10px;
}

.text-group_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.label_4 {
  width: 34px;
  height: 34px;
  margin-top: 15px;
}

.section_5 {
  margin: 24px 20px 0 0;
}

.text-group_7 {
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
  margin: 0 448px 0 1px;
}

.text-wrapper_8 {
  width: 589px;
  height: 81px;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
  margin-top: 6px;
}

.paragraph_1 {
  width: 589px;
  height: 81px;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.text_26 {
  width: 589px;
  height: 81px;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 24px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 36px;
}

.text_27 {
  width: 589px;
  height: 81px;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.section_6 {
  margin: 35px 67px 0 35px;
}

.text-wrapper_9 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 49px;
  padding: 21px 181px 27px 182px;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 50px;
}

.image-wrapper_2 {
  padding: 40px 349px 254px 349px;
}

.image_1 {
  width: 52px;
  height: 52px;
}

.group_6 {
  background-image: url(/static/lanhu_chongzhidanchuang/50ff8159c42e4f9e8bb995a152c01480_mergeImage.png);
  position: absolute;
  left: 55px;
  top: 311px;
  width: 640px;
  height: 240px;
  padding: 31px 178px 21px 37px;
}

.text-group_8 {
  margin-left: 4px;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(155, 104, 0, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(156, 101, 1, 1);
  font-size: 30px;
  letter-spacing: 0.699999988079071px;
  font-family: AlimamaShuHeiTi-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
  margin: 9px 130px 0 45px;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(156, 101, 1, 1);
  font-size: 30px;
  letter-spacing: 0.699999988079071px;
  font-family: AlimamaShuHeiTi-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
  margin: 11px 91px 0 46px;
}

.text-wrapper_10 {
  background-color: rgba(255, 198, 0, 0.54);
  border-radius: 23px;
  margin: 16px 41px 0 0;
  padding: 5px 21px 5px 18px;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(197, 138, 0, 1);
  font-size: 22px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 30px;
}
