.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 100vw;
  height: 216.67vw;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0.14vw;
  padding-left: 0;
  padding-right: 0;
}

.block_1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 216.54vw;
  padding-top: 43.87vw;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  align-self: center;
  width: 85.34vw;
  padding: 30.26vw 0 5.86vw 4.13vw;
}

.section_1 {
  margin: 0 25.86vw 0 0.26vw;
}

.text-wrapper_1 {
  width: 55.07vw;
  height: 6vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 5.34vw;
}

.text_1 {
  height: 6vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
}

.text_2 {
  height: 6vw;
  overflow-wrap: break-word;
  color: rgba(255, 87, 0, 1);
  font-size: 4.26vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
}

.text_3 {
  height: 6vw;
  overflow-wrap: break-word;
  color: rgba(255, 87, 0, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
}

.text_4 {
  height: 6vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
}

.section_2 {
  margin: 2.13vw -9.86vw 0 0.13vw;
}

.group_2 {
  background-color: rgba(255, 250, 240, 1);
  border-radius: 8px;
  border: 2px solid rgba(255, 150, 50, 1);
  padding: 5.6vw 0 0 4.8vw;
}

.text-wrapper_2 {
  width: 6.67vw;
  margin-right: 3.47vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 5.33vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 7.47vw;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4.4vw;
  margin-top: 1.74vw;
}

.image-wrapper_1 {
  margin: 5.6vw 0 0 5.6vw;
}

.label_1 {
  width: 4.54vw;
  height: 4.54vw;
}

.group_3 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 1.6vw;
}

.text-wrapper_3 {
  background-color: rgba(255, 140, 0, 1);
  border-radius: 0px 8px 0px 16px;
  margin-left: 10.54vw;
  padding: 0.13vw 1.06vw 0.13vw 1.06vw;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.66vw;
  letter-spacing: 0.12727266550064087px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.74vw;
}

.text-group_1 {
  position: relative;
  margin: 0.4vw 4.26vw 0 4.4vw;
  padding: 0 3.6vw 3.06vw 0.53vw;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 5.33vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 7.47vw;
}

.text_9 {
  position: absolute;
  left: 0;
  top: 6.54vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 2.93vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4vw;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4.4vw;
  margin: -8.8vw 4.53vw 0 10.53vw;
}

.text-wrapper_4 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 6.4vw;
  padding: 1.2vw 3.73vw 1.6vw 3.86vw;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 2.66vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.74vw;
}

.group_4 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 1.6vw;
  padding-top: 4.4vw;
}

.text-group_2 {
  position: relative;
  width: 11.34vw;
  align-self: center;
  padding: 0 4vw 3.06vw 0.93vw;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 5.33vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 7.47vw;
}

.text_13 {
  position: absolute;
  left: 0;
  top: 6.54vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 2.93vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4vw;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4.4vw;
  margin: -8.8vw 4vw 0 11.06vw;
}

.text-wrapper_5 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 6.4vw;
  padding: 1.2vw 3.73vw 1.6vw 3.86vw;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 2.66vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.74vw;
}

.group_5 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 1.6vw;
  padding-top: 4.4vw;
}

.text-group_3 {
  margin: 0 3.33vw 0 3.2vw;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 5.33vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 7.47vw;
  margin-right: 2.94vw;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 2.93vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4vw;
  margin: -0.93vw 0 0 0.4vw;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4.4vw;
  margin: -8.8vw 2.93vw 0 12.13vw;
}

.text-wrapper_6 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 6.4vw;
  padding: 1.2vw 3.73vw 1.6vw 3.86vw;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 2.66vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.74vw;
}

.image-text_1 {
  position: relative;
  margin-left: 1.6vw;
  padding: 4vw 0 1.6vw 3.2vw;
}

.text-group_4 {
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 5.33vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 7.47vw;
  margin-right: 1.47vw;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 2.93vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4vw;
  margin: -0.93vw 0 0 1.73vw;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 2.66vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.74vw;
  margin: 3.6vw 0.26vw 0 1.86vw;
}

.section_3 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  height: 23.47vw;
  padding-top: 16.94vw;
  width: 4.67vw;
  position: absolute;
  left: 0;
  top: 0;
}

.box_1 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  width: 4.67vw;
  height: 6.54vw;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.66vw;
  letter-spacing: 0.12727266550064087px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 3.74vw;
  margin: 0.13vw 0 0 0.8vw;
}

.text-wrapper_7 {
  margin: 3.2vw 62.4vw 0 0.13vw;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 5.34vw;
}

.section_4 {
  width: 76.8vw;
  margin: 2.13vw 4.26vw 0 0.13vw;
}

.box_2 {
  border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 1);
  padding: 2.13vw 8.26vw 2.13vw 8.53vw;
}

.image-text_2 {
  width: 20.27vw;
}

.label_2 {
  width: 5.87vw;
  height: 5.87vw;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.67vw;
  margin-top: 1.6vw;
}

.box_3 {
  border-radius: 8px;
  width: 37.34vw;
  border: 1px solid rgba(255, 150, 50, 1);
  padding: 2.4vw 0 0 6.26vw;
}

.label_3 {
  width: 5.74vw;
  height: 5.34vw;
  margin-bottom: 2.54vw;
}

.image-text_3 {
  width: 23.34vw;
  margin-top: 1.34vw;
}

.text-group_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.67vw;
}

.label_4 {
  width: 4.54vw;
  height: 4.54vw;
  margin-top: 2vw;
}

.section_5 {
  margin: 3.2vw 2.66vw 0 0;
}

.text-group_7 {
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 5.34vw;
  margin: 0 59.73vw 0 0.13vw;
}

.text-wrapper_8 {
  width: 78.54vw;
  height: 10.8vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  line-height: 4.8vw;
  margin-top: 0.8vw;
}

.paragraph_1 {
  width: 78.54vw;
  height: 10.8vw;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  line-height: 4.8vw;
}

.text_26 {
  width: 78.54vw;
  height: 10.8vw;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 3.2vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 4.8vw;
}

.text_27 {
  width: 78.54vw;
  height: 10.8vw;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  line-height: 4.8vw;
}

.section_6 {
  margin: 4.66vw 8.93vw 0 4.66vw;
}

.text-wrapper_9 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 49px;
  padding: 2.8vw 24.13vw 3.6vw 24.26vw;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.8vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 6.67vw;
}

.image-wrapper_2 {
  padding: 5.33vw 46.53vw 33.86vw 46.53vw;
}

.image_1 {
  width: 6.94vw;
  height: 6.94vw;
}

.group_6 {
  background-image: url(/static/lanhu_chongzhidanchuang/50ff8159c42e4f9e8bb995a152c01480_mergeImage.png);
  position: absolute;
  left: 7.34vw;
  top: 41.47vw;
  width: 85.34vw;
  height: 32vw;
  padding: 4.13vw 23.73vw 2.8vw 4.93vw;
}

.text-group_8 {
  margin-left: 0.54vw;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(155, 104, 0, 1);
  font-size: 3.73vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 5.34vw;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(156, 101, 1, 1);
  font-size: 4vw;
  letter-spacing: 0.699999988079071px;
  font-family: AlimamaShuHeiTi-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
  margin: 1.2vw 17.33vw 0 6vw;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(156, 101, 1, 1);
  font-size: 4vw;
  letter-spacing: 0.699999988079071px;
  font-family: AlimamaShuHeiTi-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
  margin: 1.46vw 12.13vw 0 6.13vw;
}

.text-wrapper_10 {
  background-color: rgba(255, 198, 0, 0.54);
  border-radius: 23px;
  margin: 2.13vw 5.46vw 0 0;
  padding: 0.66vw 2.8vw 0.66vw 2.4vw;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(197, 138, 0, 1);
  font-size: 2.93vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4vw;
}
