html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(247, 249, 252, 1);
  position: relative;
  width: 20rem;
  height: 43.334rem;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0.027rem;
  padding-left: 0;
  padding-right: 0;
}

.block_1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 43.307rem;
  padding-top: 8.774rem;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  align-self: center;
  width: 17.067rem;
  padding: 6.054rem 0 1.174rem 0.827rem;
}

.section_1 {
  margin: 0 5.174rem 0 0.054rem;
}

.text-wrapper_1 {
  width: 11.014rem;
  height: 1.2rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
}

.text_1 {
  height: 1.2rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
}

.text_2 {
  height: 1.2rem;
  overflow-wrap: break-word;
  color: rgba(255, 87, 0, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
}

.text_3 {
  height: 1.2rem;
  overflow-wrap: break-word;
  color: rgba(255, 87, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
}

.text_4 {
  height: 1.2rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
}

.section_2 {
  margin: 0.427rem -1.974rem 0 0.027rem;
}

.group_2 {
  background-color: rgba(255, 250, 240, 1);
  border-radius: 8px;
  border: 2px solid rgba(255, 150, 50, 1);
  padding: 1.12rem 0 0 0.96rem;
}

.text-wrapper_2 {
  width: 1.334rem;
  margin-right: 0.694rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.066rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.494rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-top: 0.347rem;
}

.image-wrapper_1 {
  margin: 1.12rem 0 0 1.12rem;
}

.label_1 {
  width: 0.907rem;
  height: 0.907rem;
}

.group_3 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 0.32rem;
}

.text-wrapper_3 {
  background-color: rgba(255, 140, 0, 1);
  border-radius: 0px 8px 0px 16px;
  margin-left: 2.107rem;
  padding: 0.027rem 0.214rem 0.027rem 0.214rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.533rem;
  letter-spacing: 0.12727266550064087px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-group_1 {
  position: relative;
  margin: 0.08rem 0.854rem 0 0.88rem;
  padding: 0 0.72rem 0.614rem 0.107rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.066rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.494rem;
}

.text_9 {
  position: absolute;
  left: 0;
  top: 1.307rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.586rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.88rem;
  margin: -1.76rem 0.907rem 0 2.107rem;
}

.text-wrapper_4 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 1.28rem;
  padding: 0.24rem 0.747rem 0.32rem 0.774rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 0.533rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.group_4 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 0.32rem;
  padding-top: 0.88rem;
}

.text-group_2 {
  position: relative;
  width: 2.267rem;
  align-self: center;
  padding: 0 0.8rem 0.614rem 0.187rem;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.066rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.494rem;
}

.text_13 {
  position: absolute;
  left: 0;
  top: 1.307rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.586rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.88rem;
  margin: -1.76rem 0.8rem 0 2.214rem;
}

.text-wrapper_5 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 1.28rem;
  padding: 0.24rem 0.747rem 0.32rem 0.774rem;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 0.533rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.group_5 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  margin-left: 0.32rem;
  padding-top: 0.88rem;
}

.text-group_3 {
  margin: 0 0.667rem 0 0.64rem;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.066rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.494rem;
  margin-right: 0.587rem;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.586rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: -0.187rem 0 0 0.08rem;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.88rem;
  margin: -1.76rem 0.587rem 0 2.427rem;
}

.text-wrapper_6 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  margin-top: 1.28rem;
  padding: 0.24rem 0.747rem 0.32rem 0.774rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 0.533rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
}

.image-text_1 {
  position: relative;
  margin-left: 0.32rem;
  padding: 0.8rem 0 0.32rem 0.64rem;
}

.text-group_4 {
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.066rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.494rem;
  margin-right: 0.294rem;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.586rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: -0.187rem 0 0 0.347rem;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(189, 110, 0, 1);
  font-size: 0.533rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.72rem 0.054rem 0 0.374rem;
}

.section_3 {
  background-color: rgba(242, 245, 247, 1);
  border-radius: 8px;
  height: 4.694rem;
  padding-top: 3.387rem;
  width: 0.934rem;
  position: absolute;
  left: 0;
  top: 0;
}

.box_1 {
  background-color: rgba(249, 230, 180, 1);
  border-radius: 0px 0px 8px 8px;
  width: 0.934rem;
  height: 1.307rem;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.533rem;
  letter-spacing: 0.12727266550064087px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.027rem 0 0 0.16rem;
}

.text-wrapper_7 {
  margin: 0.64rem 12.48rem 0 0.027rem;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
}

.section_4 {
  width: 15.36rem;
  margin: 0.427rem 0.854rem 0 0.027rem;
}

.box_2 {
  border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 1);
  padding: 0.427rem 1.654rem 0.427rem 1.707rem;
}

.image-text_2 {
  width: 4.054rem;
}

.label_2 {
  width: 1.174rem;
  height: 1.174rem;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.32rem;
}

.box_3 {
  border-radius: 8px;
  width: 7.467rem;
  border: 1px solid rgba(255, 150, 50, 1);
  padding: 0.48rem 0 0 1.254rem;
}

.label_3 {
  width: 1.147rem;
  height: 1.067rem;
  margin-bottom: 0.507rem;
}

.image-text_3 {
  width: 4.667rem;
  margin-top: 0.267rem;
}

.text-group_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.label_4 {
  width: 0.907rem;
  height: 0.907rem;
  margin-top: 0.4rem;
}

.section_5 {
  margin: 0.64rem 0.534rem 0 0;
}

.text-group_7 {
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0 11.947rem 0 0.027rem;
}

.text-wrapper_8 {
  width: 15.707rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
  margin-top: 0.16rem;
}

.paragraph_1 {
  width: 15.707rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_26 {
  width: 15.707rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 0.96rem;
}

.text_27 {
  width: 15.707rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.section_6 {
  margin: 0.934rem 1.787rem 0 0.934rem;
}

.text-wrapper_9 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 49px;
  padding: 0.56rem 4.827rem 0.72rem 4.854rem;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.96rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.334rem;
}

.image-wrapper_2 {
  padding: 1.067rem 9.307rem 6.774rem 9.307rem;
}

.image_1 {
  width: 1.387rem;
  height: 1.387rem;
}

.group_6 {
  background-image: url(/static/lanhu_chongzhidanchuang/50ff8159c42e4f9e8bb995a152c01480_mergeImage.png);
  position: absolute;
  left: 1.467rem;
  top: 8.294rem;
  width: 17.067rem;
  height: 6.4rem;
  padding: 0.827rem 4.747rem 0.56rem 0.987rem;
}

.text-group_8 {
  margin-left: 0.107rem;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(155, 104, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(156, 101, 1, 1);
  font-size: 0.8rem;
  letter-spacing: 0.699999988079071px;
  font-family: AlimamaShuHeiTi-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
  margin: 0.24rem 3.467rem 0 1.2rem;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(156, 101, 1, 1);
  font-size: 0.8rem;
  letter-spacing: 0.699999988079071px;
  font-family: AlimamaShuHeiTi-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
  margin: 0.294rem 2.427rem 0 1.227rem;
}

.text-wrapper_10 {
  background-color: rgba(255, 198, 0, 0.54);
  border-radius: 23px;
  margin: 0.427rem 1.094rem 0 0;
  padding: 0.134rem 0.56rem 0.134rem 0.48rem;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(197, 138, 0, 1);
  font-size: 0.586rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
}
