html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(244, 244, 244, 1);
  position: relative;
  width: 20rem;
  height: 44.747rem;
  overflow: hidden;
  padding: 2.347rem 0 0.987rem 0;
}

.box_1 {
  width: 20rem;
  height: 2.347rem;
  background: url(/static/lanhu_baogaoyemianwupingfenwutupian/SketchPng8ca03be098f985e6cffe1b132194c6d45e50a26513cec7553f67884e699731e9.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_2 {
  background: url(/static/lanhu_baogaoyemianwupingfenwutupian/SketchPnge609c74bdc9bd289bdacce7f04c171c6187064ed3f00eb146d6b6e7b43242408.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.694rem 0.88rem 4.854rem 0.854rem;
}

.label_1 {
  width: 0.614rem;
  height: 1.067rem;
  margin: 0.107rem 0 0.107rem 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 6.72rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 3.68rem;
}

.text_3 {
  width: 18.4rem;
  height: 2.134rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 1.067rem;
  margin: 10.56rem 0.64rem 0 0.96rem;
}

.image_1 {
  width: 7.147rem;
  height: 0.267rem;
  align-self: center;
  margin-top: 19.28rem;
}

.box_3 {
  background-color: rgba(26, 130, 226, 0.1);
  height: 4.694rem;
  width: 20rem;
  position: absolute;
  left: 0;
  top: 0;
}

.box_4 {
  width: 20rem;
  background: url(/static/lanhu_baogaoyemianwupingfenwutupian/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.667rem 0.374rem 0.32rem 4.32rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin-top: 0.4rem;
}

.image-wrapper_1 {
  width: 4.64rem;
  background: url(/static/lanhu_baogaoyemianwupingfenwutupian/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.347rem 0.64rem 0.32rem 0.694rem;
}

.image_2 {
  width: 0.987rem;
  height: 0.347rem;
  margin: 0.347rem 0 0.347rem 0;
}

.label_2 {
  width: 1.04rem;
  height: 1.04rem;
}

.box_5 {
  position: absolute;
  left: 0.8rem;
  top: 8.187rem;
  width: 18.4rem;
  height: 13.147rem;
  background: url(/static/lanhu_baogaoyemianwupingfenwutupian/SketchPnga5330e39ef1df07874b8c15283ebd2030e79a88cce5d606a5316c7ba7e096584.png) -0.934rem -0.934rem
    no-repeat;
  background-size: 20.267rem 15.014rem;
  padding: 0.4rem 0.64rem 0.027rem 0;
}

.group_1 {
  position: relative;
  background: url(/static/lanhu_baogaoyemianwupingfenwutupian/SketchPng4d47bbcc2e74583d17e2e71cf43dc03d816e5b4f005c63be6c37060ae394aa27.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.907rem 2.347rem 0.8rem 0.64rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-right: 2.24rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 1.494rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 4.72rem 2.24rem 0 0;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.387rem 2.987rem 0 0;
}

.image_3 {
  position: absolute;
  left: 0;
  top: 2.534rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_4 {
  position: absolute;
  left: 0;
  top: 8.16rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_5 {
  position: absolute;
  left: 0;
  top: 10.267rem;
  width: 18.427rem;
  height: 0.027rem;
}

.group_2 {
  margin: 0.907rem 0 0.8rem 0;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text-group_1 {
  margin-top: 1.36rem;
}

.text_10 {
  width: 9.094rem;
  height: 4.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 1.12rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.227rem 6.854rem 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.387rem 6.107rem 0 0;
}
