html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(244, 244, 244, 1);
  position: relative;
  width: 20rem;
  height: 44.747rem;
  overflow: hidden;
  padding: 2.347rem 0 0.987rem 0;
}

.group_1 {
  width: 20rem;
  height: 2.347rem;
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPng8ca03be098f985e6cffe1b132194c6d45e50a26513cec7553f67884e699731e9.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.group_2 {
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPnge609c74bdc9bd289bdacce7f04c171c6187064ed3f00eb146d6b6e7b43242408.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.694rem 0.88rem 4.854rem 0.854rem;
}

.label_1 {
  width: 0.614rem;
  height: 1.067rem;
  margin: 0.107rem 0 0.107rem 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 6.72rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.28rem;
  margin-left: 3.68rem;
}

.text_3 {
  width: 18.4rem;
  height: 2.134rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 1.067rem;
  margin: 26.854rem 0.774rem 0 0.827rem;
}

.image_1 {
  width: 7.147rem;
  height: 0.267rem;
  align-self: center;
  margin-top: 2.987rem;
}

.group_3 {
  background-color: rgba(26, 130, 226, 0.1);
  height: 4.694rem;
  width: 20rem;
  position: absolute;
  left: 0;
  top: 0;
}

.section_1 {
  width: 20rem;
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPng3d7307ebb6e9c63d0e09b1394fe06157277a1e3539fafb8a65dc58f7759e048f.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 2.667rem 0.374rem 0.32rem 4.32rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.907rem;
  margin-top: 0.4rem;
}

.image-wrapper_1 {
  width: 4.64rem;
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPngbcfcf7ecd37e5987581995e3baba14b2ddb8fad35d9865f4a5a958a3007fad54.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.347rem 0.64rem 0.32rem 0.694rem;
}

.image_2 {
  width: 0.987rem;
  height: 0.347rem;
  margin: 0.347rem 0 0.347rem 0;
}

.label_2 {
  width: 1.04rem;
  height: 1.04rem;
}

.group_4 {
  height: 29.494rem;
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPngf6926d5727f604f9519d5a70439eab75434efbfcfd14634b438804d00da1c91e.png) -0.934rem -0.934rem
    no-repeat;
  background-size: 20.267rem 31.36rem;
  width: 18.4rem;
  position: absolute;
  left: 0.8rem;
  top: 8.187rem;
  padding: 1.28rem 0 0.054rem 0;
}

.box_1 {
  margin-left: 0.534rem;
}

.text-wrapper_1 {
  background-color: rgba(232, 232, 232, 1);
  border-radius: 16px;
  border: 1px solid rgba(198, 198, 198, 1);
  padding: 2.08rem 1.387rem 2.214rem 1.387rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.906rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
}

.text-wrapper_2 {
  margin: 0.4rem 0 0.24rem 1.68rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 1.574rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 0.64rem;
}

.section_2 {
  margin: 0.4rem 0 0.24rem 0.56rem;
}

.text-group_1 {
}

.text_9 {
  width: 7.68rem;
  height: 1.707rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.854rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 0.72rem 5.254rem 0 0;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 0.64rem 3.947rem 0 0;
}

.box_2 {
  width: 17.76rem;
  margin: 0.907rem 0.64rem 0 0;
}

.group_5 {
  position: relative;
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPng934b6dd4c4d185b153bfeb79ed876f5a5bfa86a3d0260c6c46dc273be1e1e082.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.907rem 2.347rem 0.774rem 0.64rem;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-right: 2.24rem;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 1.494rem;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 4.72rem 2.24rem 0 0;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.307rem 2.987rem 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.467rem 0.747rem 0 0;
}

.image_3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 18.427rem;
  height: 0.027rem;
}

.image_4 {
  position: absolute;
  left: 0;
  top: 2.534rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_5 {
  position: absolute;
  left: 0;
  top: 8.16rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_6 {
  position: absolute;
  left: 0;
  top: 10.267rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_7 {
  position: absolute;
  left: 0;
  top: 12.48rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_8 {
  position: absolute;
  left: 0;
  top: 14.907rem;
  width: 18.427rem;
  height: 0.027rem;
}

.group_6 {
  margin: 0.907rem 0 0.64rem 0;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text-group_2 {
  margin-top: 1.36rem;
}

.text_18 {
  width: 9.094rem;
  height: 4.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 1.12rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.227rem 6.854rem 0 0;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(92, 155, 253, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin: 1.307rem 6.107rem 0 0;
}

.block_1 {
  width: 8.8rem;
  margin: 1.334rem 0.294rem 0 0;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 0.134rem;
}

.text-wrapper_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 21px;
  padding: 0.134rem 0.4rem 0.134rem 0.374rem;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text-wrapper_4 {
  margin: 0.56rem 10.294rem 0 0.64rem;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(158, 158, 158, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.box_3 {
  width: 11.654rem;
  margin: 0.56rem 6.747rem 0 0;
}

.section_3 {
  position: relative;
  background: url(/static/lanhu_baogaoyemianwupingfen/SketchPngb90a19aaf80cd58b5855d48f10bbba4ca1edd52880eb7d987b1cfb1781010b17.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.774rem 3.84rem 1.174rem 0.64rem;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 1.28rem;
}

.image_9 {
  position: absolute;
  left: 0;
  top: 0.027rem;
  width: 18.427rem;
  height: 0.027rem;
}

.image_10 {
  position: absolute;
  left: 0;
  top: 2.24rem;
  width: 18.427rem;
  height: 0.027rem;
}

.text-wrapper_5 {
  margin: 0.774rem 0 1.174rem 0;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(210, 73, 73, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(210, 73, 73, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-top: 1.28rem;
}
